
<%= render "pages/home" if !user_signed_in? %>

<div id="problems" class="transitions-enabled">
  <% @problems.each do |problem| %>
    <div class="box panel panel-default">
      <div class="panel-body">
        <p><strong><%= problem.description %></strong></p>
        <%= problem.user.name if problem.user %> 
        <%= link_to "Solutions", solutions_path(:problem_id => problem.id),  :method => :post %>
        <% if current_user && problem.user == current_user%>
          <div class="actions">
            <%= link_to edit_problem_path(problem) do %>
              <span class="glyphicon glyphicon-pencil"></span> Edit
            <%end%> | 
            <%= link_to problem, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span> Destroy
            <% end %>
          </div>
        <%end%>
      </div>
    </div>
  <% end %>  
</div>

<div class="center">
<%= will_paginate @problems, renderer: BootstrapPagination::Rails %>
</div>
